*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 550px;
    height:505px;
    border: 5px solid black;
    margin: 40px auto;
    background-color: teal;
}
.ball{
    width: 75px;
    height: 75px;
    animation-name: ball-bounce;    
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes ball-bounce {
    0%{top: 0px;left:0px;}
    25%{transform: translate(100px, 440px);}
    50%{transform: translate(200px, 160px);}
    75%{transform: translate(300px, 440px);}
    100%{transform: translate(490px,0px);top:0px;}
}